<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!--#log4j中有5级logger ,#FATAL 0 ,#ERROR 3 ,#WARN 4 ,#INFO 6 ,#DEBUG 7 -->
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
  <!-- Console -->
  <appender name="LOG.Console" class="org.apache.log4j.ConsoleAppender">
    <param name="Encoding" value="UTF-8" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyy-MM-dd HH:mm:ss} [%-5p] %c {%F:%L} - %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="INFO" />
    </filter>
  </appender>
  <appender name="IBatis" class="org.apache.log4j.ConsoleAppender">
    <param name="Encoding" value="UTF-8" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyy-MM-dd HH:mm:ss} [%-5p] %c {%F:%L} - %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG" />
      <param name="LevelMax" value="DEBUG" />
    </filter>
  </appender>
  <!-- DEBUG -->
  <appender name="LOG.DEBUG" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${webApp.root}/logs/debug.log" />
    <param name="MaxFileSize" value="5120KB" />
    <param name="MaxBackupIndex" value="3" />
    <param name="Encoding" value="UTF-8" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyy-MM-dd HH:mm:ss} [%-5p] %c {%F:%L} - %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG" />
      <param name="LevelMax" value="DEBUG" />
    </filter>
  </appender>
  <!-- INFO -->
  <appender name="LOG.INFO" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${webApp.root}/logs/info.log" />
    <param name="MaxFileSize" value="5120KB" />
    <param name="MaxBackupIndex" value="3" />
    <param name="Encoding" value="UTF-8" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyy-MM-dd HH:mm:ss} [%-5p] %c {%F:%L} - %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="INFO" />
      <param name="LevelMax" value="INFO" />
    </filter>
  </appender>
  <!-- WARN -->
  <appender name="LOG.WARN" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${webApp.root}/logs/warn.log" />
    <param name="Encoding" value="UTF-8" />
    <param name="MaxFileSize" value="5120KB" />
    <param name="MaxBackupIndex" value="3" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyy-MM-dd HH:mm:ss} [%-5p] %c {%F:%L} - %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="WARN" />
      <param name="LevelMax" value="WARN" />
    </filter>
  </appender>
  <!-- ERROR -->
  <appender name="LOG.ERROR" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${webApp.root}/logs/error.log" />
    <param name="MaxFileSize" value="5120KB" />
    <param name="MaxBackupIndex" value="3" />
    <param name="Encoding" value="UTF-8" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyy-MM-dd HH:mm:ss} [%-5p] %c {%F:%L} - %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="ERROR" />
      <param name="LevelMax" value="ERROR" />
    </filter>
  </appender>
  <!-- FATAL -->
  <appender name="LOG.FATAL" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${webApp.root}/logs/fatal.log" />
    <param name="MaxFileSize" value="5120KB" />
    <param name="MaxBackupIndex" value="3" />
    <param name="Encoding" value="UTF-8" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyy-MM-dd HH:mm:ss} [%-5p] %c {%F:%L} - %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="FATAL" />
      <param name="LevelMax" value="FATAL" />
    </filter>
  </appender>
  <!-- SQL -->
  <logger name="com.ibatis" additivity="true">
    <level value="DEBUG" />
  </logger>
  <logger name="java.sql.Connection" additivity="true">
    <level value="DEBUG" />
  </logger>
  <logger name="java.sql.Statement" additivity="true">
    <level value="DEBUG" />
  </logger>
  <logger name="java.sql.PreparedStatement" additivity="true">
    <level value="DEBUG" />
    <appender-ref ref="IBatis" />
  </logger>
  <logger name="java.sql.ResultSet" additivity="true">
    <level value="DEBUG" />
  </logger>
  <root>
    <priority value="DEBUG" />
    <appender-ref ref="LOG.Console" />
    <appender-ref ref="LOG.DEBUG" />
    <appender-ref ref="LOG.INFO" />
    <appender-ref ref="LOG.WARN" />
    <appender-ref ref="LOG.ERROR" />
    <appender-ref ref="LOG.FATAL" />
  </root>
</log4j:configuration>
